@charset 'UTF-8';
@font-face{
    font-family: 'PassionOne';
    src: url('fontes/fonteTitulo/PassionOne-Bold.ttf') format(truetype);
    font-weight: bolder;
}

@font-face{
    font-family: 'Sriracha';
    src: url('fontes/fonteContent/Sriracha-Regular.ttf') format(truetype);
    font-weight: bolder;
}

*{
    margin: 0;
    padding: 0;
}

:root{
    --fonte1: Verdana, Geneva, Tahoma, sans-serif;
    --fonte2: 'Passion One', cursive;
    --fonte3: 'Sriracha', cursive;
}

.title{
    background-color: #000000;
    padding: 70px;
    font-family: var(--fonte2);
    font-size: 2em;
}

header>h1{
    color: #ffffff;
    font-family: var(--fonte2);
    font-size: 4em;
    text-align: center;
}

header>p{
    color: #ffffff;
    font-family:var(--fonte1);
    font-size: 13px;
    font-weight: normal;
    text-align: center;
}

a{
    color: #ffffff;
    text-decoration: none;
}
a:hover{
    color: #ffffff;
    text-decoration: underline;
}

#normal{
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 30px;
    font-family: var(--fonte3);
    font-size: 3.5vw;
    color: black;
}
section#joaninha{
    background-image: url(../d12/imagens/background001.jpg);
    background-position: right center;
}
.imagem01{
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 30px;
    font-family: var(--fonte3);
    font-size: 3.5vw;
    background-color: rgb(51, 51, 51);
    color: white;
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.473);
    background-size: cover;
    background-attachment: fixed;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

section.imagem01 > p{
    display: inline-block;
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.514);
    text-shadow: 1px 1px 0px black;
}

.continuous{
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 30px;
    font-family: var(--fonte3);
    font-size: 3.5vw;
    color: black;
}

section#livro{
    background-image: url(../d12/imagens/background002.jpg);
}

.imagem02{
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 30px;
    font-family: var(--fonte3);
    font-size: 3.5vw;
    background-color: rgb(51, 51, 51);
    color: #fff;
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.473);
    background-size: cover;
    background-attachment: fixed;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

section.imagem02 > p{
    display: inline-block;
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.514);
    text-shadow: 1px 1px 0px black;
}

.final{
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 30px;
    font-family: var(--fonte3);
    font-size: 3.5vw;
    color: black;
}

footer{
    padding: 10px;
    background-color: #000000;
    color: #ffffff;
    text-align: center;
}