@charset "UTF-8";
@font-face {
     font-family: 'idroid';
     src: url('layout/fontes/idroid.otf') format('opentype');
   }

body{
     background-color: #84E1AD;
     margin: 0;
     padding: 0;
}

header{
     background-image: linear-gradient(to bottom,#48da6c,#3aaf57,#2c8542,#1e5a2d,#103018);
     width: 100vw;
     margin: 0;
     padding: 10px;
     font-family: 'idroid';
}

header > h1{
     color: white;
     text-align: center;
     font-family: 'idroid';
}

header > p{
     color: #8AB89E;
     font-size: small;
     text-align: center;
}

nav > a{
     color: white;
     text-decoration: none;
     padding: 10px;
     font-size: 10px;
}

a:hover{
     text-decoration: underline;
     color: blue;
}

#link{
     text-decoration: solid;
     
}

main{
     background-color: white;
     margin-left:200px;
     margin-right:200px;
     padding: 20px;

}

h1{
     font-family: 'idroid';
     color: #1e5a2d;
}

h2{
     font-family: 'Arial';
     color: #fff;
     background-color: #48da6c;
     font-size: small;
     border-radius: 5px;
     padding: 10px;
     margin: 0px;
}

#video{
     background-color: #1e5a2d;
     text-align: center;
     padding: 0px;
     width: 100%;
     margin-right: 5px;
     margin-left: 5px;
}

article{
     background-color: #8AB89E;
     margin: 10px;
     text-align: justify;
     border-radius: 5px;
     padding-bottom: 2px;
     padding-left: 4px;
     padding-right: 4px;
     margin-bottom: 2px;
}

#util{
     margin-bottom: 4px;
}

footer{
     background-color: #103018;
     color: #fff;
     text-align: center;
     font-size: small;
}





